* {
  padding: 0;
  margin: 0;
}

.navbar {
  color: rgba(240,240,240);
  background: 	rgba(238,21,21, 0.8);
  width: 100%;
  height: 115px;
  border-bottom: 10px solid rgba(34,34,36, 0.9);
}

.nav-main {
  list-style-type: none;
  position: absolute;
  top: 5px;
  width: 100%;
  height: 50%;
}

.nav-links, .nav-title {
  text-decoration: none;
  color: rgba(240,240,240);
  font-size: large;
}

.nav-main li {
  margin: 10px;
}

.active {
  display: block;
}

.footer-bot {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5%;
  text-align: center;
  background: rgba(238,21,21, 0.8);
  color: rgba(240,240,240);
}

@media screen and (min-width: 768px) {
  .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
  }

  .nav-main {
      display: flex;
      margin-right: 5%;
      flex-direction: row;
  }

  .nav-links {
    margin-left: 50px;
}

  .nav-title {
      font-size: larger;
  }
  
  .nav-links:hover {
      color: rgba(255, 255, 255, 1);
  }
}

