.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    align-items:center;
    width: 100%;
    text-align: center;
    background: rgba(238,21,21, 0.8);
    color: rgba(240,240,240);
    border-top: 5px solid black;
  }