.navbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: rgba(240,240,240);
  background:	rgba(238,21,21, 0.8);
  border-bottom: 3px solid black;
  width: 100%;
}

.navtitle
  {
    font-size: larger;
    padding: 2px;
  }

  .navlinks
  {
    font-size: large;
    padding: 5px;
  }

  .navtitle, .navlinks
  {
    color: rgba(240,240,240);
    text-decoration: none;
  }

/* desktop */
@media screen and (min-width: 768px)
{
  .navbar
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: 	rgba(238,21,21, 0.8);
    align-items:center;
    width: 100%;
    height: 50px;
    
  }

  .navtitle
  {
    color: rgba(240,240,240);
    font-size: larger;
    padding: 4px;
  }
  .navlinks
  {
    color: rgba(240,240,240);
    font-size: large;
    padding: 5px;
  }

  .navtitle, .navlinks
  {
    text-decoration: none;
    margin: 10px;
  }
}


